<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('./assets/img/sections/home-header-2.jpg')"></div>
      <div class="container pt-150">
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <h2 class="display-2"><span>NATIONAL SIKH HERITAGE CENTRE & HOLOCAUST MUSEUM</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="floating-box bg-default">
            <div class="box text-center">
              <div class="icon icon-shape bg-info icon-xl rounded-circle text-white">
                <img src="./assets/img/brand/nishaan-sahib.png" class="home-box-barsha" alt="">
              </div>
            </div>
            <h2 class="lead text-white p-3 text-center floating-box-heading">
              <span>ਖੁੱਲੇ ਦਰਸ਼ਨ ਦੀਦਾਰੇ, ਸਿੰਘਾਂ ਦੇ ਤੋਪ ਖਾਂਨਿਆਂ ਦੇ। ਵਿਰਾਸਤ -ਏ- ਖਾਲਸਾ। ਇਤਿਹਾਸਕ ਨਜ਼ਰ, ਖਾਲਸਾ ਰਾਜ ਬਣਾਉਣ ਵਾਲੇ ਸਰਦਾਰ ਤੇ ਢਾਉਣ ਵਾਲੇ ਗਦਾਰ।</span>
              <span>
                Explore the rich heritage and discover rare artefact, paintings and photographs that showcase the history, culture and achievements of the Sikhs.
              </span>
            </h2>
          </div>
        </div>
      </div>
  </div>
</header>
<div class="section-opening-times">
  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="display-3">Open <strong>7 days a week</strong> - 10AM to 3PM</h3>
        <span class="badge badge-primary badge-pill">Group bookings by appointment only</span>
      </div>
    </div>
  </div>
</div>
<div class="fullWidth pt-5 pb-5" style="background-color: #182a4e; background-image: url(/assets/img/ill/p31.svg)">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center display-3 text-white">A Journey of Sikh History</h1>
      </div>
    </div>
  </div>
  <div class="welcome-video">
    <div class="container">
      <div class="row">
        <iframe src="https://www.youtube.com/embed/qEx5Xmz91cs?modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5">
    <div class="row">
      <div class="col text-center">
        <h2 class="display-3 pb-3">What you'll discover</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/brand/home-banner.jpeg')">
            <div class="card-body text-center">
              <h2 class="card-title">Cannons</h2>
              <p class="text-white">Visitors can expect to see historic cannons on display at the museum, accompanied by information about their significance and history.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/projects/kids-keertan.jpeg')">
            <div class="card-body text-center">
              <h2 class="card-title">Art Gallary</h2>
              <p class="text-white">The museum's art gallery showcases paintings, sculptures, and other works of art related to Sikh history and culture.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/projects/khalsa-club.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Old Style Items</h2>
                <p class="text-white">See various old-style items that provide a glimpse into Sikh culture and way of life, such as traditional clothing, jewelry, household items, and more.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-background" style="background-image: url('./assets/img/projects/nsm.jpeg')">
              <div class="card-body text-center">
                <h2 class="card-title">Artefacts of Sikh empire</h2>
                <p class="text-white">View artefacts from the Sikh Empire, including weapons, coins, documents, and other historical items that offer insight into the empire's history and culture.</p>
              </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-background" style="background-image: url('./assets/img/projects/punjabi-school.jpeg')">
              <div class="card-body text-center">
                <h2 class="card-title">1984 Genocide Exhibtion</h2>
                <p class="text-white">Exhibtion related to the 1984 Sikh Genocide, which could include photographs, documents, and personal accounts of the tragic events.</p>
              </div>
            </div>
        </div>
        <div class="col-lg-4">
        <div class="card card-background" style="background-image: url('./assets/img/projects/gatka.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Jallianwala Bagh Massacre</h2>
                <p class="text-white">Learn about the 1919 Jallianwala Bagh Massacre, which can include historical accounts, photographs, and artifacts related to the event.</p>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-background" style="background-image: url('./assets/img/projects/qa.jpeg')">
                <div class="card-body text-center">
                    <h2 class="card-title">Old Weapons</h2>
                    <p class="text-white">Visitors can view old weapons used by Sikhs in battles, including swords, shields, and other traditional weapons.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-background" style="background-image: url('./assets/img/projects/gurbani-class.jpeg')">
              <div class="card-body text-center">
                  <h2 class="card-title">Golden Temple Model</h2>
                  <p class="text-white">One of the most important religious sites for Sikhs. A model which provides a unique and detailed view of the temple's architecture.</p>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/projects/midlands-langar-seva.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Sikhs in British Empire</h2>
                <p class="text-white">The museum provides exhibits and information on the role Sikhs played in the British Empire, including their contributions to the military and economy.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/projects/sikh-library.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Sikh Reference Library</h2>
                <p class="text-white">Visitors can access a library for books related to Sikh history and culture, which provide a wealth of information and insights into the Sikhs.</p>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="fullWidth">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col text-center">
        <h2 class="display-3 pb-3">Latest Tweets</h2>

        <a class="twitter-timeline" data-theme="dark" data-height="800" href="https://twitter.com/SikhMuseumDerby?ref_src=twsrc%5Etfw">Tweets by SikhMuseumDerby</a>
      </div>
    </div>
  </div>
</div>